!!!
%html
  %head
    %title CRVCIBLE &middot; A Secure, Memorable Password Machine 
    %meta{:content => "CRVCIBLE - A Secure, Memorable Password Generator", :name => "description"}
    %meta{:content => "Jon Anning", :name => "author"}
    %meta{:name => "viewport", :content=>"width=device-width, initial-scale=1"}
    %link{:href => "/css/bootstrap.css", :type => "text/css", :rel => "stylesheet" }
    %link{:href => "/css/sticky-footer.css", :type => "text/css", :rel => "stylesheet" }
    %link{:href => "http://fonts.googleapis.com/css?family=Junge", :type => "text/css", :rel => "stylesheet" }
  %body
    #wrap
      .container
        .page-header
          %img{:src => "/images/crvcible.png"}
        %br
        %h6.muted This password is derived from the film
        %h4= @movie.to_s
        %h1= make_password(@movie)
    #footer
      .container
        %p.text-muted.credit!= "Designed and built with <span class='glyphicon glyphicon-heart'></span> by <a href='http://twitter.com/astromoose'>@astromoose</a>"
